// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$miltonia-corail: #FF9F85;
$miltonia-blue: #6DB0C5;
$miltonia-light-blue: #BAD6DF;
$miltonia-green: #C6FBC9;
$miltonia-middle: #A4E0CF;
$miltonia-ivory: #FFFDF6;
$miltonia-dark: #243A56;
