// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$miltonia-corail: #FF9F85;
$miltonia-corail-light: #FFE5D9;
$miltonia-blue: #6DB0C5;
$miltonia-light-blue: #BAD6DF;
$miltonia-green: #C6FBC9;
$miltonia-middle: #A4E0CF;
$miltonia-ivory: #FFFDF6;
$miltonia-dark: #243A56;

.bg-corail-light {
  background-color: $miltonia-corail-light;
}

.bg-corail {
  background-color: $miltonia-corail;
}

.bg-ivory {
  background-color: $miltonia-ivory;
}

.bg-blue {
  background-color: $miltonia-blue;
}

.bg-blue-light {
  background-color: $miltonia-light-blue;
}

.corail-light, .corail-light path {
  color: $miltonia-corail-light;
  fill: $miltonia-corail-light;
}

.corail, .corail path {
  color: $miltonia-corail;
  fill: $miltonia-corail;
}

.ivory, .ivory path {
  color: $miltonia-ivory;
  fill: $miltonia-ivory;
}

.blue, .blue path {
  color: $miltonia-blue;
  fill: $miltonia-blue;
}

.blue-light, .blue-light path {
  color: $miltonia-light-blue;
  fill: $miltonia-light-blue;
}
