.container-home, .container-show {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-home, .top-show {
  height: 30%;
  // border-bottom: solid 1px $miltonia-ivory;
  box-shadow: 0px 10px 30px #0f2b4f;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  // .milts-home {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   svg {
  //     height: 50px;
  //   }
  // }

  // h3 {
  //   font-family: 'Yellowtail';
  //   text-align: center;
  //   color: $miltonia-corail;
  //   font-size: xxx-large;
  //   margin: 0 12px 0 0;
  // }

  .infos-home, .milts-home {
    height: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

    h3 {
      font-family: 'Yellowtail';
      text-align: center;
      margin: 0 0 10px 0;
      font-size: xx-large;
    }
    svg {
      height: 40px;
      margin: 0 0 10px 0;
    }
  }

  .infos-home h3 {
    color: $miltonia-light-blue;
  }

  .milts-home h3 {
    color: $miltonia-corail;
  }

}

.conversations-home {
  height: 66%;
  width: 100%;
  padding: 30px 50px;
  overflow-y: scroll;

  .conversation-home {
    background: $miltonia-blue;
    box-shadow: 0px 4px 20px #0F2B4F;
    border-radius: 68px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .conversation-home + .conversation-home {
    margin-top: 26px;
  }
}

.conversation-home:hover {
  background-color: $miltonia-light-blue;
  color: $miltonia-ivory;
}

.pseudo-correspondant-home {
  h2 {
    margin: 0;
    font-family: 'Yellowtail';
  }
}

.notification-home {
  background-color: $miltonia-corail;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -16px;
  right: 32px;
  box-shadow: 0px 4px 17px 1px rgba(36, 58, 86, 0.21);
  svg {
    width: 60%;
  }
  path {
    fill: $miltonia-ivory;
  }
}
