.conversation-show {
  height: 70%;
  width: 100%;
}

.top-show {
  justify-content: space-between;
  padding: 0px 10px;
}

.infos-correspondant, .infos-current {
  height: 95%;
  display: flex;
  align-items: flex-end;
  h3 {
    font-family: 'Yellowtail';
    text-align: center;
    margin: 0 0 10px 0;
    font-size: xx-large;
    color: $miltonia-light-blue;
  }
}

.infos-correspondant {
  justify-content: flex-end;
}
.infos-current > .milts-home {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.avatar-correspondant-show {
  position: absolute;
  left: calc(50vw - 25%);
  z-index: 1;
  .avatar-big {
    box-shadow: -5px 10px 30px #0f2b4f;
  }
}

.avatar-current-show {
  position: absolute;
  right: calc(50vw - 25%);
  .avatar-big {
    box-shadow: -5px 10px 30px #0f2b4f;
  }
}

.milts-show {
  height: 100%;
  overflow-y: scroll;
  padding: 20px 5px;
  // -webkit-mask-image: linear-gradient(to bottom,black 10%,transparent 80%);
  // mask-image: linear-gradient(to bottom,black 10%,transparent 80%);
}

#new_milt {
  // border-top: 1px solid $gray-200;
  // padding: 1rem;
  margin: 0;
  padding: 0;
}
