<% conversations.each do |conversation| %>
  <%# user ||= conversation.correspondant(current_user) %>
  <%= link_to conversation_path(conversation), class:"conversation-home #{conversation.notifications?(current_user) ? 'notifications' : 'no-notifications'}" do %>
    <div class="avatar-correspondant-home">
      <div class="avatar-mini">
        <%= image_tag 'rabbit.png' %>
      </div>
    </div>
    <div class="pseudo-correspondant-home">
      <h2><%= conversation.correspondant(current_user).pseudo %></h2>
    </div>
    <% if conversation.notifications?(current_user) %>
      <div class="notification-home">
        <%= conversation.notifications_count(current_user) %>
      </div>
    <% end %>
  <% end %>
<% end %>
