<% conversations.each do |conversation| %>
  <%= link_to conversation_path(conversation), class:"conversation-home #{conversation.notifications? ? 'notifications' : 'no-notifications'}" do %>
    <div class="avatar-correspondant-home">
      <div class="avatar-mini">
        <%= image_tag 'rabbit' %>
      </div>
    </div>
    <div class="pseudo-correspondant-home">
      <h2><%= conversation.correspondant(user).pseudo %></h2>
    </div>
    <% if conversation.notifications? %>
      <div class="notification-home">
        <%= conversation.notifications_count %>
      </div>
    <% end %>
  <% end %>
<% end %>
