.btn-full {
  width: 180px;
  padding: 10px 20px;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
}

.btn-light {
  background-color: #FFFDF6;
  color: #243A56;
}

.btn-corail {
  background-color: $miltonia-corail;
  color: $miltonia-ivory;
  font-weight: 300;

  path {
    fill: $miltonia-ivory;
  }
}

.btn-blue {
  background-color: $miltonia-blue;
}
