.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.form-create-milt {
  display: flex;
  justify-content: center;
  height: 0;
}

.form-label, .form-check-label {
  color: $miltonia-ivory;
}

.form-control, .form-check-input, .form-select {
  border-radius: 50px;
  background-color: $miltonia-ivory;
}

.form-control:focus {
  background-color: $miltonia-ivory;
  color: $miltonia-dark;
  box-shadow: 0 0 0 0.25rem rgba(186, 212, 222, 0.25);
}

.form-check-input:checked {
  background-color: $miltonia-corail;
  border-color: $miltonia-corail;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(186, 212, 222, 0.25);
}

.form-check-input.is-valid ~ .form-check-label, .form-check-input.is-valid{
  color: $miltonia-corail;
  border-color: $miltonia-corail;
}
